{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <div class="site-wrapper">

        <section class="main-presentation">

            <div class="presentation-header">
                <div class="logo">
                    <a class="logo__link" href="/">
                        <div class="logo__img-wrapper">
                            <img class="logo__img" src="images/logo.png" alt="Soros 2.0">
                        </div>
                        <div class="logo__title">Soros 2.0</div>
                    </a>
                </div>
                <div class="communication">
                    <span class="call-button">Перезвоните мне</span>
                    <div class="contacts">
                        <div class="contacts__phone-wrapper">
                            <i class="fri fri-phone"></i>
                            <a href="tel:8(800)1007799" class="contacts__phone">8 (800) 100 77 99</a>
                        </div>
                        <p class="contacts__subtext">Звонок по России бесплатный</p>
                    </div>
                </div>
            </div>

            <div class="presentation-body mb57">
                <div class="container">
                    <div class="presentation-descr">
                        <h1 class="presentation-descr__title">Торгуй как Сорос</h1>
                        <p class="presentation-descr__subtitle mb40">с легендарным индикатором <span class="text-red">SOROS 2.0</span></p>
                        <p class="presentation-descr__text mb5">Получите <strong>месяц бесплатной подписки</strong> на легендарный индикатор Джорджа Сороса для торговли на валютном рынке и</p>
                        <p class="presentation-descr__subtitle mb34">увеличьте свою прибыль на <span class="text-red">300%</span></p>
                        <a href="#" class="download-button mb30">
                            <span class="download-button__text">Скачать SOROS 2.0 Бесплатно</span>
                            <i class="fri fri-download"></i>
                        </a>
                        <div class="timer timer__wrapper">
                            <div class="timer__title">Предложение ограничено! До конца акции осталось:</div>
                            <div class="watch">
                                <div class="watch__item">
                                    <span class="watch__item-count">1</span>
                                    <span class="watch__item-name">Дни</span>
                                </div>
                                <div class="watch__item watch__item_divide">
                                    <span class="watch__item-dvide">:</span>
                                </div>
                                <div class="watch__item">
                                    <span class="watch__item-count">13</span>
                                    <span class="watch__item-name">Часы</span>
                                </div>
                                <div class="watch__item watch__item_divide">
                                    <span class="watch__item-dvide">:</span>
                                </div>
                                <div class="watch__item">
                                    <span class="watch__item-count">45</span>
                                    <span class="watch__item-name">Минуты</span>
                                </div>
                                <div class="watch__item watch__item_divide">
                                    <span class="watch__item-dvide">:</span>
                                </div>
                                <div class="watch__item">
                                    <span class="watch__item-count">26</span>
                                    <span class="watch__item-name">Секунды</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="presentation-footer presentation-footer_bg-red">
                <div class="container">
                    <div class="presentation-footer-grid">
                        <div class="presentation-footer-grid__title">не нужно быть Соросом</div>
                        <div class="presentation-footer-grid__descr">Чтобы торговать на валютном рынке как Сорос, не нужно быть Соросом. Действия любого человека подчиняются определенным алгоритмам. Если они правильные, то человек успешен. И алгоритмы успеха можно вычислить.</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section_description">
            <div class="container">
                <div class="soros-description">
                    <div class="figure figure_red">
                        <p class="figure__small-text">Soros 2.0</p>
                        <p class="figure__large-text">Узнайте секреты Wall Street</p>
                    </div>
                    <div class="soros-description__text">
                        <p class="soros-text-p mb27">Если вы впервые слышите о Soros 2.0, то поясняем: это технический индикатор, программа, которая воспроизводит основные торговые паттерны, которые использовали легендарные трейдеры — Билл Вильямс, Джо ДиНаполи и, конечно же, Джордж Сорос.</p>
                        <p class="soros-text-p mb35">Для ее создания понадобились десятки тысяч часов наблюдений за торговлей этих мегауспешных трейдеров, анализ большого массива информации, выявление закономерностей и алгоритмов. Затем при помощи специальных нейронных сетей, реализованных на языке программирования для трейдеров MQL5, была создана математическая модель, которая стала основой программного решения.</p>
                        <a href="#" class="download-button download-button_black-blue mb5">
                            <span class="download-button__text">Скачать SOROS 2.0 Бесплатно</span>
                            <i class="fri fri-download"></i>
                        </a>
                        <p class="soros-description__gray-text">Получите месяц подписки на Soros 2.0. <span class="text-wet-asphalt fw600">БЕСПЛАТНО только до <span class="text-red fz18">8 мая!</span></span></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="section__title text-center mb40">Принимайте только <span class="text-red">успешные торговые решения</span></div>
                <div class="solutions">
                    <div class="solutions__item-left mr30">
                        <p class="soros-text-p mb35">Soros 2.0 отслеживает изменения цен на рынке, анализирует тенденции и подсказывает наиболее верные решения. Вам остается лишь воспользоваться его рекомендациями.</p>
                        <p class="soros-text-p">Soros 2.0 работает почти так же, как другие электронные советники или технические индикаторы. Почти потому, что в основе программы гораздо более совершенные и эффективные алгоритмы.</p>
                    </div>
                    <div class="solutions__item-right">
                        <div class="solutions__percents">80-85%</div>
                        <div class="solutions__item-text">По отзывам уже работающих с Soros 2.0 трейдеров, индикатор <strong>дает верную подсказку в 80-85% случаев</strong>. Это очень хороший показатель.</div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}