{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% set blue_page = 'false' %}

{% block content %}

    <div class="site-wrapper">

        <section class="main-presentation">
            <div class="presentation-header">
                <div class="logo">
                    <a class="logo__link" href="/">
                        <div class="logo__img-wrapper">
                            <i class="fri fri-logo"></i>
                        </div>
                        <div class="logo__title">Soros 2.0</div>
                    </a>
                </div>
                <div class="communication">
                    <span class="call-button js-open-popup" data-open-popup="call-me">Перезвоните мне</span>
                    <div class="contacts">
                        <div class="contacts__phone-wrapper">
                            <i class="fri fri-phone"></i>
                            <a href="tel:8(800)1007799" class="contacts__phone">8 (800) 100 77 99</a>
                        </div>
                        <p class="contacts__subtext">Звонок по России бесплатный</p>
                    </div>
                </div>
            </div>
            <div class="presentation-body">
                <div class="container">
                    <div class="presentation-descr">
                        <h1 class="presentation-descr__title mob-text-center">Торгуй как Сорос</h1>
                        <p class="presentation-descr__subtitle mb40 mob-text-center">с легендарным индикатором <span class="text-red">SOROS&nbsp;2.0</span></p>
                        <p class="presentation-descr__text mb5 mob-mb0 mob-text-center">Получите <strong>месяц бесплатной подписки</strong> на легендарный индикатор Джорджа Сороса для торговли на валютном рынке и</p>
                        <p class="presentation-descr__subtitle mb34 mob-text-center">увеличьте свою прибыль на <span class="text-red">300%</span></p>
                        <p class="mob-text-center">
                            <a href="#" class="download-button mb30">
                                <span class="download-button__text">Скачать SOROS 2.0 Бесплатно</span>
                                <i class="fri fri-download"></i>
                            </a>
                        </p>
                        <div class="timer timer__wrapper">
                            <div class="timer__title">Предложение ограничено! До конца акции осталось:</div>
                            <div id="timer" class="watch js-timer">
                                <div class="watch__item">
                                    <span class="watch__item-count js-days">1</span>
                                    <span class="watch__item-name">Дни</span>
                                </div>
                                <div class="watch__item watch__item_divide">
                                    <span class="watch__item-dvide">:</span>
                                </div>
                                <div class="watch__item">
                                    <span class="watch__item-count js-hours">13</span>
                                    <span class="watch__item-name">Часы</span>
                                </div>
                                <div class="watch__item watch__item_divide">
                                    <span class="watch__item-dvide">:</span>
                                </div>
                                <div class="watch__item">
                                    <span class="watch__item-count js-minutes">45</span>
                                    <span class="watch__item-name">Минуты</span>
                                </div>
                                <div class="watch__item watch__item_divide">
                                    <span class="watch__item-dvide">:</span>
                                </div>
                                <div class="watch__item">
                                    <span class="watch__item-count js-seconds">26</span>
                                    <span class="watch__item-name">Секунды</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="presentation-footer presentation-footer_bg-red">
                <div class="container">
                    <div class="presentation-footer-grid">
                        <div class="presentation-footer-grid__title">не нужно быть Соросом</div>
                        <div class="presentation-footer-grid__descr">Чтобы торговать на валютном рынке как Сорос, не нужно быть Соросом. Действия любого человека подчиняются определенным алгоритмам. Если они правильные, то человек успешен. И алгоритмы успеха можно вычислить.</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section_description section_periwinkle-krajol mob-pt0">
            <div class="container">
                <div class="box-with-figure tab-box-with-figure">
                    <div class="figure-wrapper">
                        <div class="figure figure_red mob-figure-dark">
                            <p class="figure__small-text">Soros 2.0</p>
                            <p class="figure__large-text">Узнайте секреты Wall Street</p>
                        </div>
                    </div>
                    <div class="box-with-figure__content pt50 mt60 pl50">
                        <p class="text-p mb27">Если вы впервые слышите о Soros 2.0, то поясняем: это технический индикатор, программа, которая воспроизводит основные торговые паттерны, которые использовали легендарные трейдеры — Билл Вильямс, Джо ДиНаполи и, конечно же, Джордж Сорос.</p>
                        <p class="text-p mb35">Для ее создания понадобились десятки тысяч часов наблюдений за торговлей этих мегауспешных трейдеров, анализ большого массива информации, выявление закономерностей и алгоритмов. Затем при помощи специальных нейронных сетей, реализованных на языке программирования для трейдеров MQL5, была создана математическая модель, которая стала основой программного решения.</p>
                        <p class="mob-text-center mb5">
                            <a href="#" class="download-button download-button_black-blue">
                                <span class="download-button__text">Скачать SOROS 2.0 Бесплатно</span>
                                <i class="fri fri-download"></i>
                            </a>
                        </p>
                        <p class="box-with-figure__gray-text mob-text-center">Получите месяц подписки на Soros 2.0. <span class="text-wet-asphalt fw600">БЕСПЛАТНО только до <span class="text-red fz18">8 мая!</span></span></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="section__title text-center mb40 mob-mb15">Принимайте только <span class="text-red">успешные торговые решения</span></div>
                <div class="grid-2">
                    <div class="grid-2__item-left mr30 mob-mr0">
                        <p class="text-p pt5 mb30">Soros 2.0 отслеживает изменения цен на рынке, анализирует тенденции и подсказывает наиболее верные решения. Вам остается лишь воспользоваться его рекомендациями.</p>
                        <p class="text-p">Soros 2.0 работает почти так же, как другие электронные советники или технические индикаторы. Почти потому, что в основе программы гораздо более совершенные и эффективные алгоритмы.</p>
                    </div>
                    <div class="grid-2__item-right">
                        <div class="grid-2__percents">80-85%</div>
                        <div class="grid-2__item-text">По отзывам уже работающих с Soros 2.0 трейдеров, индикатор <strong>дает верную подсказку в 80-85% случаев</strong>. Это очень хороший показатель.</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section_periwinkle-krajol pt60">
            <div class="container">
                <div class="box-with-figure box-with-figure_1180 ">
                    <div class="figure-wrapper">
                        <div class="figure figure_red">
                            <p class="figure__small-text">Soros 2.0</p>
                            <p class="figure__large-text">Истории реальных торговых счетов</p>
                        </div>
                    </div>
                    <div class="box-with-figure__content non-max-width pt40 mt60">
                        <div class="table-wrapper mb40">
                            <div class="table">
                                <div class="table__header">
                                    <div class="table__row">
                                        <div data-label="Период" class="table__cell-1">Период</div>
                                        <div data-label="Первоначальный депозит" class="table__cell-1">Первоначальный депозит</div>
                                        <div data-label="На 05.05.2017" class="table__cell-1">На 05.05.2017</div>
                                        <div data-label="Прибыль" class="table__cell-1">Прибыль</div>
                                        <div data-label="" class="table__cell-1"></div>
                                    </div>
                                </div>
                                <div class="table__body">
                                    <div class="table__row table__row_body">
                                        <div data-label="Период" class="table__cell-1">20/05/2015 — 05/05/2017</div>
                                        <div data-label="Первоначальный депозит" class="table__cell-1">$200</div>
                                        <div data-label="На 05.05.2017" class="table__cell-1">$7 400</div>
                                        <div data-label="Прибыль" class="table__cell-1"><strong>$2 400</strong></div>
                                        <div data-label="" class="table__cell-1"><strong>48%</strong></div>
                                    </div>
                                    <div class="table__row table__row_body">
                                        <div data-label="Период" class="table__cell-1">07/06/2015 — 05/05/2017</div>
                                        <div data-label="Первоначальный депозит" class="table__cell-1">$1 000</div>
                                        <div data-label="На 05.05.2017" class="table__cell-1">$16 235</div>
                                        <div data-label="Прибыль" class="table__cell-1"><strong>$6 235</strong></div>
                                        <div data-label="" class="table__cell-1"><strong>62%</strong></div>
                                    </div>
                                    <div class="table__row table__row_body">
                                        <div data-label="Период" class="table__cell-1">20/05/2015 — 05/05/2017</div>
                                        <div data-label="Первоначальный депозит" class="table__cell-1">$200</div>
                                        <div data-label="На 05.05.2017" class="table__cell-1">$7 400</div>
                                        <div data-label="Прибыль" class="table__cell-1"><strong>$2 400</strong></div>
                                        <div data-label="" class="table__cell-1"><strong>48%</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mob-text-center">
                            <a href="#" class="download-button download-button_white mb7">
                                <span class="download-button__text">Скачать SOROS 2.0 Бесплатно</span>
                                <i class="fri fri-download-red"></i>
                            </a>
                        </p>
                        <p class="box-with-figure__gray-text mob-text-center">Получите месяц подписки на Soros 2.0. <span class="text-wet-asphalt fw600">БЕСПЛАТНО только до <span class="text-red fz18">8 мая!</span></span></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section pb75">
            <div class="container">
                <div class="section__title text-center mb45 mob-mb15"><span class="text-red">Торгуйте</span> без лишних эмоций</div>
                <p class="text-p mb25 pl0">Soros 2.0 поможет вам избежать главной причины неверных торговых решений – эмоций. Когда на кону стоят десятки, сотни тысяч долларов, трудно сохранить спокойствие. Особенно если вы торгуете недавно. Но с индикатором Soros 2.0 это достаточно легко.</p>
                <p class="text-p mb65 pl0 mob-mb15">Программы не подвержены эмоциям. Поэтому им можно доверять. Наш индикатор станет вашим «торговым мозгом», который обрабатывает информацию и предлагает решение. Soros 2.0 работает четко, взвешено, хладнокровно. Эмоции ему не мешают. Не будут мешать и вам.</p>
                <div class="section__subtitle text-center mb50">Еще несколько преимуществ Soros 2.0</div>
                <div class="grid-4">
                    <div class="grid-4__item">
                        <i class="fri fri-interface mb25"></i>
                        <p class="grid-4__advantages-text text-center">Интуитивно понятный интерфейс </p>
                    </div>
                    <div class="grid-4__item">
                        <i class="fri fri-control mb25"></i>
                        <p class="grid-4__advantages-text text-center">Удобное управление</p>
                    </div>
                    <div class="grid-4__item">
                        <i class="fri fri-support mb25"></i>
                        <p class="grid-4__advantages-text text-center">Бесплатная техническая поддержка 24/7</p>
                    </div>
                    <div class="grid-4__item">
                        <i class="fri fri-consulting mb25"></i>
                        <p class="grid-4__advantages-text text-center">Бесплатные консультации</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section_bg-red-banner">
            <div class="container">
                <div class="section__title section__title_white text-white text-center mb30 pl50 pr50 mob-mb15 mob-pl0 mob-pr0">Получите бесплатно возможность, которая стоит свыше 500 000 руб.</div>
                <p class="text-p text-white mb30 pl0">Большинство реально приносящих доход индикаторов и торговых советников, в том числе и Soros 2.0, не продаются. Продается только подписка, право пользования этими инструментами в течение ограниченного срока.</p>
                <p class="text-p text-white mb30 pl0">Подписка, то есть возможность успешно торговать, стоит дорого. Например, стоимость месяца использования Soros 2.0 – более 500 000 руб. (при текущих валютных котировках). Это оправдано: индикатор позволяет заработать в разы больше.</p>
                <p class="text-p text-white pl0">Но сегодня вы можете получить месячную подписку бесплатно.</p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="section__title text-center mb30">Почему мы делаем такое <span class="text-red">щедрое предложение</span></div>
                <p class="text-p mb30 pl0">Объяснение очень простое: реклама. С помощью бесплатной подписки на Soros 2.0 мы привлекаем внимание к ряду брокерских компаний, которые заинтересованы в новых успешных трейдерах. За привлеченных клиентов (трейдеров) брокеры выплачивают нам комиссионные. И чем успешнее и дольше работает трейдер с брокером, тем выше комиссионные.</p>
                <p class="text-p mb30 pl0">Другой резон заключается в том, что, оценив все возможности Soros 2.0 и заработав на нем первоначальный капитал, вы сможете позволить себе платную подписку. Для вас, как для многих топовых трейдеров, индикатор станет постоянным инструментом заработка.</p>
                <p class="text-p pl0">И еще. Если вы начнете успешно торговать с помощью Soros 2.0, заработает «сарафанное радио». Оно привлечет к нам клиентов, которые готовы приобрести платную подписку.</p>
            </div>
        </section>

        <section class="section pb80">
            <div class="container">
                <div class="section__title text-center mb45 mob-mb15">Войдите в круг <span class="text-red">избранных трейдеров</span></div>
                <div class="grid-2">
                    <div class="grid-2__item-left mr35 mob-mr0">
                        <p class="text-p mb30">Объяснение очень простое: реклама. С помощью бесплатной подписки на Soros 2.0 мы привлекаем внимание к ряду брокерских компаний, которые заинтересованы в новых успешных трейдерах. За привлеченных клиентов (трейдеров) брокеры выплачивают нам комиссионные. И чем успешнее и дольше работает трейдер с брокером, тем выше комиссионные.</p>
                        <p class="text-p mb30">Другой резон заключается в том, что, оценив все возможности Soros 2.0 и заработав на нем первоначальный капитал, вы сможете позволить себе платную подписку. Для вас, как для многих топовых трейдеров, индикатор станет постоянным инструментом заработка. </p>
                        <p class="text-p">И еще. Если вы начнете успешно торговать с помощью Soros 2.0, заработает «сарафанное радио». Оно привлечет к нам клиентов, которые готовы приобрести платную подписку.</p>
                    </div>
                    <div class="grid-2__item-right grid-2__item-right_img">
                        <img src="images/soros.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_bg-try-it pb65">
            <div class="container">
                <div class="section__title text-white text-center mb45"><span class="text-red">Попробуйте</span>, а потом делайте выводы</div>
                <p class="text-p text-white mb30">Поторговывав с Soros 2.0 в течение месяца, вы уже сами сделаете вывод, стоит его использовать или нет, оставаться в кругу избранных или выйти из него.</p>
                <p class="text-p text-white mb35">Подчеркнем еще раз: эта возможность не будет вам стоить ровным счетом ничего.</p>
                <p class="text-center mb30">
                    <a href="#" class="download-button">
                        <span class="download-button__text">Скачать SOROS 2.0 Бесплатно</span>
                        <i class="fri fri-download"></i>
                    </a>
                </p>
                <div class="timer timer__wrapper centered">
                    <div class="timer__title">Предложение ограничено! До конца акции осталось:</div>
                    <div id="timer" class="watch js-timer">
                        <div class="watch__item">
                            <span class="watch__item-count js-days">1</span>
                            <span class="watch__item-name">Дни</span>
                        </div>
                        <div class="watch__item watch__item_divide">
                            <span class="watch__item-dvide">:</span>
                        </div>
                        <div class="watch__item">
                            <span class="watch__item-count js-hours">13</span>
                            <span class="watch__item-name">Часы</span>
                        </div>
                        <div class="watch__item watch__item_divide">
                            <span class="watch__item-dvide">:</span>
                        </div>
                        <div class="watch__item">
                            <span class="watch__item-count js-minutes">45</span>
                            <span class="watch__item-name">Минуты</span>
                        </div>
                        <div class="watch__item watch__item_divide">
                            <span class="watch__item-dvide">:</span>
                        </div>
                        <div class="watch__item">
                            <span class="watch__item-count js-seconds">26</span>
                            <span class="watch__item-name">Секунды</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-footer">
            <div class="container">
                <div class="grid grid_footer">
                    <div class="grid__item">
                        <div class="logo">
                            <a class="logo__link" href="/">
                                <div class="logo__img-wrapper">
                                    <i class="fri fri-logo"></i>
                                </div>
                                <div class="logo__title">Soros 2.0</div>
                            </a>
                        </div>
                    </div>
                    <div class="grid__item">
                        <div class="contacts contacts_footer">
                            <div class="contacts__phone-wrapper">
                                <i class="fri fri-phone"></i>
                                <a href="tel:8(800)1007799" class="contacts__phone text-red">8 (800) 100 77 99</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="popup-wrapper js-popup" data-popup="call-me">
            <div class="call-me call-me_red">
                <div class="call-me__close call-me__close_red js-close-popup"></div>
                <div class="fz24 mob-fz20 text-center mb20">Заказать <span class="text-red">бесплатный</span> звонок</div>
                <form action="" class="call-me__form">
                    <input class="call-me__input call-me__input_red mb20" type="text" placeholder="Введите имя">
                    <input class="call-me__input call-me__input_red mb20" type="text" placeholder="Введите телефон">
                    <p class="centered">
                        <button class="call-button" type="submit">Отправить</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}