<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# RED FAVICON #}
    {% if blue_page == 'false' %}
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/red/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/red/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/red/favicon-16x16.png">
        <link rel="manifest" href="favicon/red/manifest.json">
        <link rel="mask-icon" href="favicon/red/safari-pinned-tab.svg">
        <link rel="shortcut icon" href="favicon/red/favicon.ico">
        <meta name="msapplication-config" content="favicon/red/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    {% endif %}
    {# END RED FAVICON #}

    {# BLUE FAVICON #}
    {% if blue_page == 'true' %}
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/blue/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/blue/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/blue/favicon-16x16.png">
        <link rel="manifest" href="favicon/blue/manifest.json">
        <link rel="mask-icon" href="favicon/blue/safari-pinned-tab.svg">
        <link rel="shortcut icon" href="favicon/blue/favicon.ico">
        <meta name="msapplication-config" content="favicon/blue/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    {% endif %}
    {# END BLUE FAVICON #}

    <title>{% block pageTitle %}{% endblock %}</title>
    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
    <!-- Header block -->
    {% include "header.twig" %}
    <!-- Header block end -->

    <!-- Block content -->
    {% block content %}{% endblock %}
    <!-- Block content end -->

    <!-- Footer block -->
    {% include "footer.twig" %}
    <!-- Footer block end -->

    <!-- Modals -->
    {% include "modals.twig" %}

    <!-- Scripts -->
    {% include "scripts.twig" %}
</body>
</html>