<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# RED FAVICON #}
    {% if blue-page == false %}
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/red/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/red/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/red/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/red/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/red/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/red/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/red/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/red/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/red/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/red/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/red/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/red/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/red/favicon-16x16.png">
    <link rel="manifest" href="favicon/red/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/red/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% endif %}
    {# END RED FAVICON #}

    {# BLUE FAVICON #}
    {% if blue-page == true %}
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/blue/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/blue/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/blue/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/blue/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/blue/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/blue/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/blue/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/blue/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/blue/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/blue/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/blue/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/blue/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/blue/favicon-16x16.png">
    <link rel="manifest" href="favicon/blue/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/blue/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% endif %}
    {# END BLUE FAVICON #}

    <title>{% block pageTitle %}{% endblock %}</title>
    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
    <!-- Header block -->
    {% include "header.twig" %}
    <!-- Header block end -->

    <!-- Block content -->
    {% block content %}{% endblock %}
    <!-- Block content end -->

    <!-- Footer block -->
    {% include "footer.twig" %}
    <!-- Footer block end -->

    <!-- Scripts -->
    {% include "scripts.twig" %}
</body>
</html>